[Unit]
Description=pfp-checker Discord Bot
After=network.target

[Service]
WorkingDirectory=/opt/pfp-checker
ExecStart=/opt/pfp-checker/deploy-temp/update_and_run.sh

# Restart the service automatically if it crashes
Restart=always

[Install]
WantedBy=multi-user.target
